.title{
  text-align: center;
  color: darkblue;
  background: lightgrey;
}

.modal-content{
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content.mostrar{
  display: flex;
}

.mostrar.modal-list{
  animation: modal-list 3s;
}

.modal-list{
  width: 40%;
  height: 30%;
  background: white;
  min-width: 300px;
  padding: 40px;
  border: 10px solid gray;
  box-shadow: 0 0 0 10px white;
  position: relative;
}

@keyframes modal-list {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.close{
  font-size: 1.2em;
  position: absolute;
  top: -30px;
  right: -30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid white;
  background: gray;
  color: aliceblue;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
}

.container{
  background: lightgray;
  max-width: 100%;
}
.col-4{
  text-align: -webkit-center;
}

.text-button{
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.adjust-button{
  width: 500px;
  height: 100px;
  box-shadow: 0 2px 8px 0;
  border-radius: 10px;
  font-family: 'pokemon_font', monospace;
  font-size: 20px;
  color: lavender;
  background: #F99000;
  background-image: url("src/assets/image/charmander.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.adjust-button:hover{
  background: #F9903F;
  color: lavender;
  background-image: url("src/assets/image/charizard.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.adjust-button:active{
  background: #FF524A;
  color: lavender;
  background-image: url("src/assets/image/charmeleon.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

